<form [formGroup]="productForm" (ngSubmit)="add()">
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Price:
    <input type="text" formControlName="price">
  </label>
  <label>
    Description:
    <input type="text" formControlName="description">
  </label>
  <button submit="add()">Add</button>
</form>
<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let product of (products$ | async).products; index as i">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency: 'USD'}}</td>
      <td>{{ product.description }}</td>
      <td>
        <Button (click)="remove(product.id)">Remover</Button>
        <Button >Editar</Button>
      </td>
    </tr>
</table>
  